# .github/workflows/deploy-dev.yml

name: 'Deploy Conversion King to Dev'

on:
  push:
    branches:
      - main # Or your development branch
    paths:
      - 'environments/dev/**'
      - 'modules/**'
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read  # Required to check out the repository

jobs:
  terraform-deploy:
    name: 'Terraform Plan & Apply'
    runs-on: ubuntu-latest
    environment: dev
    
    defaults:
      run:
        shell: bash
        working-directory: ./environments/dev

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::456202167790:role/githubaction # REPLACE WITH YOUR IAM ROLE ARN
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.1 # Specify a version compatible with your configuration

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

       #- name: Terraform unlock for stuck state
        #id: unlock
        #run: terraform force-unlock --force 732421f8-353f-ddff-7191-2e52acf8fb22
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -out=tfplan
      
      - name: Terraform Apply
        id: apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'       
        run: terraform apply -auto-approve tfplan